<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="POS品質管理.Properties.Settings.PMSConnectionString" connectionString="Data Source=10.40.13.42;Initial Catalog=PMS;Persist Security Info=True;User ID=sa;Password=zxcvbnm,./"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>